.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    &::-moz-selection {
        /* Code for Firefox */
        color: var(--text);
        background: var(--purple);
    }

    &::selection {
        color: var(--text);
        background: var(--purple);
    }
}