.console__indicator {
    position: absolute;
    bottom: calc(var(--margin) * 2.5);
    left: calc(var(--margin) * 2.5);
    left: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    // width: calc(100% - var(--margin) * 2.5 * 2);
    background: $bg;
    border-radius: $radius;
    gap: 1rem;
    align-items: center;
    padding: .4rem 1rem;
    mix-blend-mode: difference;
    cursor: pointer;
    transform: translate(-50%, 0);

    // opacity: 0;
    z-index: 9999;
    transition: .2s;

    &:active {
        transition: 0s;
        transform: translate(-50%, 0) scale(0.95)
    }

    &.disabled {
        transform: translate(-50%, 0) !important;
        pointer-events: none !important;
        cursor: default;
        // background: transparentize($bg, .5)
    }

    .bullets {
        display: flex;
        flex-wrap: nowrap;
        gap: .5rem;

        span {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $text;
            opacity: 1;
            transition: .3s;

            &:nth-child(2) {
                opacity: .4
            }
        }
    }

    .labels {
        span {
            top: 0;
            font-size: 1rem;
            position: relative;
        }

        .wrap {
            position: relative;
            height: 30px;
            white-space: nowrap;
            overflow: hidden;

            .line {
                text-align: center;
                position: relative;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                font-size: 1rem;
                line-height: 30px;

                &:nth-child(2) {
                    position: absolute;

                    span {
                        opacity: 0.2;
                        transform: translate(0%, 0%) rotateX(90deg) scaleY(1);
                    }
                }

                span {
                    text-rendering: optimizeLegibility;
                    will-change: transform;
                    opacity: 1;
                    display: inline-block;
                    vertical-align: baseline;
                    transition-timing-function: cubic-bezier(.23, 1, .32, 1);
                    transition-duration: .6s;
                    transform-style: preserve-3d;
                    transform-origin: bottom;
                    transition-delay: calc(15ms * var(--ci));
                }
            }
        }
    }

    &.switch {
        .line {
            &:nth-child(1) span {
                opacity: .2;
                transform: translate(0%, -87.5%) rotateX(-90deg) scaleY(1);
            }

            &:nth-child(2) span {
                opacity: 1 !important;
                transform: translate(0%, 0) rotateX(0deg) scaleY(1) !important
            }
        }

        .bullets span {
            opacity: .4;

            &:nth-child(2) {
                opacity: 1;
            }
        }
    }

    &.show {
        opacity: 1;
        transition: .3s
    }
}

body[touchdevice=true] {
    .console__indicator {
        display: none;
    }
}