[data-wavy] {
    position: relative;
    overflow: hidden;
    user-select: none;

    .wave {
        animation: wave .3s linear;
        background: transparentize($text, .95);
        border-radius: 50%;
        transform: scale(0);
        pointer-events: none;
        position: absolute
    }

    &[data-wavy-color="dark"] .wave {
        animation: wave_no_transluent .8s $easeOutBack;
        opacity: 1;
        background: $bg1;
        z-index: 0;
        // background: transparentize($bg, .95);
    }

    @keyframes wave {
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }

    @keyframes wave_no_transluent {
        100% {
            transform: scale(2);
        }
    }
}