.grabbing {
    cursor: grabbing;
}

.portfolio {
    position: relative;
    width: 100%;
    margin: 150px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    &-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        user-select: none;
        position: relative;
        cursor: grab;
        overflow: hidden;
        .error {
            text-align: center;
            width: 100%;
        }
    }

    // &-title {
    //     position: relative;
    //     font-size: 50px;
    //     font-weight: 900;
    //     margin: 50px calc(var(--pdg) * 1.5);
    //     @include syne;
    //     white-space: nowrap;
    //     // overflow: hidden;
    // }

    &-drag__title {
        position: relative;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        width: calc(100% - var(--pdg) * 2);
        @include satoshi;
        font-size: 3rem;
        text-transform: uppercase;
        pointer-events: none;
        overflow: hidden;
        margin: 0 var(--pdg);
        white-space: nowrap;
        font-weight: 900;

        &:after {
            position: absolute;
            width: 100%;
            height: 1px;
            content: "";
            background: linear-gradient(to right, transparent 0%, var(--muted) 50%, transparent 100%);
            left: 0;
            bottom: 0;
        }

        .group {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .col {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            overflow: hidden;

            &:nth-child(2) {
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    background: linear-gradient(to top, transparent, var(--bg));
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50px;
                    z-index: 2;
                }

                &:after {
                    content: "";
                    position: absolute;
                    background: linear-gradient(to bottom, transparent, var(--bg));
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 50px;
                    z-index: 2;
                }
            }
        }

        &-active {
            font-size: 1rem;
            text-transform: capitalize;
            font-weight: 500;
        }

        &-inactive {
            @include syne;
            font-weight: 500;
            text-transform: none;
        }
    }

    &-progress {
        align-self: center;
        background: var(--transparentize_muted_05);
        width: 200px;
        height: 6px;
        border-radius: 3px;

        &-fill {
            position: relative;
            min-width: 6px;
            max-width: 100%;
            width: 0%;
            height: 6px;
            background: var(--text);
            border-radius: 6px;
        }
    }

    &-drag {
        position: absolute;
        height: 100%;
        pointer-events: all;

        &__field {
            z-index: 5;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        &__cards {
            padding: 10px calc(var(--pdg) - 30px);
            display: flex;
            height: 100%;
            column-gap: 70px;

            .card {
                text-decoration: none;
                position: relative;
                height: fit-content;
                box-sizing: content-box;
                width: 350px;
                display: flex;
                flex-direction: column;
                padding: 30px;

                .img_wr {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 4 / 3;
                    overflow: hidden;
                }

                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: height .3s;
                }

                .flex {
                    position: relative;
                    display: flex;
                    padding: 20px;
                    color: var(--text);
                    margin: 20px 0 0 0;
                    border: 1px solid var(--muted);
                }

                .date {
                    writing-mode: vertical-lr;
                    color: var(--muted);
                    // opacity: 0;
                    // transform: translate(-10px);
                    // transition: .3s;
                }

                .text {
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    h1 {
                        font-size: 1.15rem;
                        line-height: 150%;
                        margin-bottom: 0.15rem;
                        background-image: linear-gradient(-45deg, var(--purple), var(--orange_light), var(--text), var(--text));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-size: 400% 400%;
                        background-position: 0% 50%;
                        transition: .2s $easeInOutQuad;
                    }

                    p {
                        font-size: 1rem;
                        max-width: 80%;
                        line-height: 150%;
                        @include syne;
                        font-variant-numeric: lining-nums;
                        transition: .2s $easeInOutQuad;
                    }
                }

                .borders {
                    position: absolute;
                    content: "";
                    opacity: 0;
                    left: 30px;
                    top: 30px;
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                    z-index: 3;
                    border: 1px solid var(--purple);
                    transform: scale(-20px);
                    transition: .2s $easeInOutCubic;
                }

                .corners {
                    left: 0;
                    top: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transition: opacity .3s;

                    span {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        background: var(--purple);
                        z-index: 2;

                        &:after {
                            position: absolute;
                            content: "";
                            width: 10px;
                            height: 10px;
                            top: 2px;
                            left: 2px;
                            background: #fff;
                            z-index: 1;
                        }

                        &:nth-child(1) {
                            top: -7px;
                            left: -7px;
                        }

                        &:nth-child(2) {
                            top: -7px;
                            right: -7px;
                        }

                        &:nth-child(3) {
                            bottom: -7px;
                            right: -7px;
                        }

                        &:nth-child(4) {
                            bottom: -7px;
                            left: -7px;
                        }
                    }
                }

                &.active {
                    .text {
                        h1 {
                            background-position: 100% 50%;
                        }
                    }

                    .borders {
                        left: 0;
                        top: 0;
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                        transition: .1s $easeOutCubic;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        margin: 80px 0 0 0;
        gap: 20px;

        &-drag__title {
            font-size: 2rem;
            padding-bottom: 20px;
        }

    }

    @media screen and (max-width: 600px) {
        .portfolio-drag__cards {
            gap: 10px;

            .card {
                width: calc(100vw - 60px);
            }
        }
    }
}