@media screen and (max-width: 1200px) {
    section.info {
        height: 100%;

        .home {
            flex-direction: column;

            .greetings {
                margin-top: 100px;
                align-items: center;
                gap: 50px !important;
            }

            .posts {
                height: 700px !important;
                width: 100% !important;
                padding: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .left {
        height: 100%;
        left: -100%;
        backdrop-filter: blur(33px);
        background: var(--transparentize_bg_05);
        padding: calc(var(--n_padding) * 3) var(--n_padding) 100px var(--n_padding);
        width: calc(300px + var(--n_padding));
        transition: left .3s cubic-bezier(0.5, 0, 0.75, 0);
        &:hover {
            overflow-y: scroll;
            padding-right: var(--n_padding)
        }
        &.slide {
            left: 0 !important;
            transition: left .5s cubic-bezier(0.25, 1, 0.5, 1);
        }
    }

    .main__content.wiki {
        padding: calc(var(--n_padding) * 3) var(--n_padding) 0 var(--n_padding);
        .middle h1 {
            font-size: 50px;
            line-height: 55px;
            padding-right: 0
        }
    }

    .media-viewer_content {
        background: #000
    }
}

@media screen and (max-width: 700px) {
    html {
        --g_padding: 100px;
        --pdg_multiplier: 1;
    }

    nav.sections {
        display: none;
    }

    .main__content {
        section {
            &.info {
                .home {
                    .posts {
                        &__container {
                            padding: 30px 0 0 15px !important;

                            .posts__content {
                                padding: 15px 30px 30px 15px !important
                            }

                            .tasks__content {
                                padding: 0 15px 15px 0 !important;
                                gap: 15px !important
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    html {
        --g_padding: 20px;
        --pdg_multiplier: 1 !important;
    }

    nav.sections {
        display: none;
    }

    .main__content {
        section {
            &.light {
                .text__container {
                    .sky__location {
                        font-size: 50px !important;
                        line-height: 50px !important;
                    }

                    span {
                        font-size: 15px
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    html {
        --g_padding: 20px;
        --n_padding: 20px;
        --pdg_multiplier: 1;
    }
    .left {
        padding: calc(var(--g_padding) * 4) var(--n_padding) 100px var(--n_padding);
    }
    .main__content.wiki {
        padding: calc(var(--g_padding) * 4) var(--n_padding) 100px var(--n_padding);
    }
    .side_menu {
        width: calc(100% - var(--n_padding) * 2)
    }

    section {
        &.info {
            .home {
                .posts {
                    &__container {
                        height: 80% !important;
                    }
                }
            }
        }
    }
}

:root {
    --text1: #fff
}