section.portfolio.st-fade-group(data-fade=`[{"opacity":0},{"opacity":1}]`)
    .portfolio-drag__title
        .group
            .col
                .portfolio-drag__title-inactive.no-select.st-fade-child Check out#[br]my portfolio
            .col
                .portfolio-drag__title-active.st-fade-child
                    .titles.no-select
    .portfolio-wrapper
        .portfolio-drag
            .portfolio-drag__field
            .portfolio-drag__cards
                .bg