.preloader
    .window
        span
            img(src="img/brand-logo.png", alt="")
    .content
        h2.no-select
            span Hello there
                img(src="img/waving_hand.png", alt="")
        h1.no-select
            span 0
    //- .wave
        span
        span