.skills#skills
    .col.skill.working
        .bg
        .container
            .head.no-select
                h1 01
                    span layouting
            .content
                h1 FrontEnd
                    include ../svg/star2.svg
                p I cope with it easily, thanks to +3 years of experience. #[br]This is my main path in web development.
        .carousel
            .sep
                <svg><path d="M0,100 Q609,100 1218,100"></path></svg>
            .carousel-container
                .carousel-track
                    .slide
                        include ../svg/logos/gulp.svg
                    .slide
                        include ../svg/logos/html.svg
                    .slide
                        include ../svg/logos/css.svg
                    .slide
                        include ../svg/logos/jquery.svg
                    .slide
                        include ../svg/logos/sass.svg
                    .slide
                        include ../svg/logos/webpack.svg
                    .slide
                        include ../svg/logos/pug.svg
    .col.skill.working 
        .bg
        .container
            .head.no-select
                h1 02
                    span development
            .content
                h1 BackEnd
                    include ../svg/star1.svg
                p A little complicated, but everything is possible.#[br]It started before the frontend,#[br]but was rarely used in my projects.
        .carousel
            .sep
                <svg><path d="M0,100 Q609,100 1218,100"></path></svg>
            .carousel-container
                .carousel-track
                    .slide
                        include ../svg/logos/nodejs.svg
                    .slide
                        include ../svg/logos/mongodb.svg
                    .slide
                        include ../svg/logos/electron.svg
                    .slide
                        include ../svg/logos/firebase.svg
                    .slide
                        include ../svg/logos/graphql.svg
                    .slide
                        include ../svg/logos/discordjs.svg
    .col.skill.centered
        .bg
        .container
            .head.no-select
                h1 03
                    span |
                    .col
                        span Landing
                        span App interface
            .content
                h1 Design
                    img(src="img/writing_hand.png" alt="")
                p No illustrations, I'm not an Art Director.#[br]However, I know a lot about#[br]trending product presentation, app designing,#[br]mockup development.