.section.active {
    --active_border: 6px;
    position: relative;
    margin-top: 2rem;
    background: $bg2;
    height: 100%;
    color: $bg1;
    border: 1px solid $bg2;
    z-index: 1;
    // cursor: url(../../img/cursor1.png), pointer; // курсор говно
    transition:
        border-radius .2s,
        color .2s $easeInOutExpo;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0;
        border-radius: $radius;
        background: linear-gradient(45deg, #9b6cf0, #c7b2f2, #fcc79e);
        width: calc(100% + var(--active_border));
        height: calc(100% + var(--active_border));
        top: calc(0px - var(--active_border)/2);
        left: calc(0px - var(--active_border)/2);
        transition:
            border-radius .2s,
            transform .25s,
            opacity .25s;
        z-index: -1
    }

    .border {
        transition: opacity .25s .5s;
        border-color: $muted
    }

    .container {
        position: relative;
        z-index: 1;

        &.left {
            width: 80%;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: fit-content;

            h2 span {
                text-rendering: optimizeLegibility;
                will-change: transform;
                display: inline-block;
                vertical-align: baseline;
                transition:
                    font-size .6s calc(15ms*var(--ci)) $easeInOutBack,
                    transform .6s calc(15ms*var(--ci)) $easeInOutBack;

                &.svg_wrap {
                    position: relative;
                    top: -0.8rem;
                    opacity: 0;
                    transform: translateX(-10px);
                    overflow: hidden;
                    transition:
                        transform .25s,
                        opacity .25s;

                    svg {
                        height: 2rem;
                        width: 2rem
                    }
                }
            }

            p {
                width: 90%
            }
        }

        &.right {
            position: relative;
            flex-grow: 1;
            height: 100%;
            aspect-ratio: 1/1;

            .distortion__wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                will-change: transform;
            }

            .distortion__item {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(1.1) skewY(-4deg) rotate(1deg);
                opacity: 0;
                transition:
                    opacity 0s,
                    transform 1.5s;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }

                video {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }

                &.-active {
                    opacity: 1;
                    transform: scale(1);
                    z-index: 1
                }
            }
        }
    }

    .cursor_wrapper {
        border-radius: $radius;
        position: absolute;
        background: $bg2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        transition: border-radius .2s;

        .active_sec_cursor {
            --t: .5s;
            position: absolute;
            display: block;
            height: var(--s, 0px);
            width: var(--s, 0px);
            top: calc(var(--s)/2*-1);
            left: calc(var(--s)/2*-1);
            direction: ltr;
            contain: layout style size;
            border-radius: 50%;
            pointer-events: none;
            z-index: 0;
            background: $bg1;
            transition: opacity .25s,
                height var(--t),
                width var(--t),
                left var(--t),
                top var(--t)
        }
    }
}

@keyframes arrow_stream {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(100%)
    }
}